<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Proxa listing article variants</label>
    <label lang="en">Proxa listing article variants</label>

    <version>1.0.0</version>
    <link>https://github.com/shyim/shopware-profiler</link>
    <author>Proxation GmbH</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Initiale Version</changes>
        <changes lang="en">Initial Version</changes>
    </changelog>
</plugin>