<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>

        <entry>
            <name>Score</name>
            <label lang="en">Product import</label>
            <label lang="de">Product import</label>
            <controller>ProductImport</controller>
            <action>index</action>
            <class>sprite-blue-document-import</class>
            <parent identifiedBy="controller">Content</parent>
        </entry>
        
    </entries>

</menu>